<!DOCTYPE html>
<html lang="de">
<head>
    <title>yay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" >
    <link href="{{ absolute_url(asset('build/bundle.js')) }}" as="script" rel="preload" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet" media="all" >
    <link href="{{ absolute_url(asset('build/bundle.css')) }}" rel="stylesheet" media="all" />
</head>
<body>
    {% block content %}{% endblock %}
    <script src="{{ absolute_url(asset('build/vendor.js')) }}"></script>
    <script src="{{ absolute_url(asset('build/bundle.js')) }}"></script>
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
