parameters:
    database_host: mysqldb
    database_port: 3306
    database_name: dev
    database_user: root
    database_password: root
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: fiy8aXah1ogeepohxiez
    assets_version: v1
    redis_host: redis
    redis_port: 6379
